[submodule "third_party/absl"]
	path = third_party/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/highway"]
	path = third_party/highway
	url = https://github.com/google/highway.git
